@import "../palette.scss";
.cardgroupper {
  //@include blockstyle;
  border-top: 2px $theBlack solid;
  padding: 3rem;
  background-color: $secColoryellow;
}
#card1 {
  background-color: $secColorgreen;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
#card2 {
  background-color: $secColorred;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
#card3 {
  background-color: $secColorblue;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.card-img-top {
  width: 6rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
}
.card-title {
  @include FontBold;
}
