.accordion-item,
.accordion-header {
  background-color: #31333b;
}
.accordion {
  --bs-accordion-bg: #282930;
  --bs-accordion-btn-color: white;
  --bs-accordion-active-color: white;
  --bs-accordion-active-bg: rgb(92, 90, 90);
  width: 96%;
}
