@import "../stylepalette.scss";

.abovelogoblock {
  padding: 3rem;
  padding-top: 1rem;
  background-color: var(--secBGcolor);
}
.logoblock {
  width: 10rem;
  position: relative;
  float: left;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: var(--secBGcolor);
}
.aboverollerpoller {
  background-color: var(--mainBGcolor);
  border-top: 2px var(--theBlack) solid;
}
.rollerpoller {
  @include blockstyle;
  margin: 0px;
  padding: 1rem;
  background-color: var(--secColorred);
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  top: -5rem;
}
.history {
  position: absolute;
  top: 10px;
}

.evRoulette {
  @include blockstyleSmall;
  margin: 0 auto;
  width: 76rem;
  font-family: sans-serif;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-color: $theBlack;
}

.evTarget {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 200px;
  background: var(--secColorred);
  z-index: 2;
}

.evWeapons {
  height: 200px;
  white-space: nowrap;
  position: relative;
  left: 0;
}

.evWeapon {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.evWeaponInner {
  width: 200px;
  height: 200px;
  position: relative;
}

.evWeaponInner img {
  width: 120px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 35px;
}

.evWeaponText {
  position: absolute;
  bottom: 0;
  left: -4.5rem;
  width: 185px;
  height: 100%;
  background: $theBlack;
}
.evWeaponText p {
  height: 15px;
  line-height: 15px;
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ev-weapon-text p:first-child {
  margin-top: 10px;
}

.button {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 12rem;
  background-color: var(--secColorgreen);
  color: $theBlack;
  @include blockstyleSmall;
  margin: 30px auto 0;
  transition: all 0.4s;

  &:disabled {
    background-color: #7fbc8c;
    color: rgba($theBlack, 0.6);
  }
}
