@import "palette.scss";

h1 {
  @include FontBold;
}

#spinner {
  color: $secColorred;
  border: 1px, solid, $theBlack;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-dark-table {
  border-radius: 8px;
  overflow: hidden;
  background-color: $secBGcolor;
  color: $theBlack;
}

.custom-dark-table thead {
  background-color: $secColorred;
  color: #ffffff;
}

.custom-dark-table thead th {
  padding: 12px;
  font-size: 16px;
}

.custom-dark-table tbody tr {
  transition: background 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
  color: $theBlack;
  border-radius: 12px;
  padding: 30px 40px;
  @include blockstyle;
  background-color: $secColorgreen;
}

.LoginPage {
  height: 32.2rem;
  background-size: cover;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 34%;
}

.center-margin {
  margin-top: 100px;
}

.nav {
  //background-color: $secColorred;
  //@include blockstyle;
  padding-left: 4rem;
  padding-right: 4rem;
  @include FontBold;
  z-index: 1000;
  width: 100%;
  transition: all 0.2s;
  overflow: hidden;
}

.darknav {
  background-color: $darkmainBGcolor;
  //@include blockstyle;
  padding-left: 4rem;
  padding-right: 4rem;
  @include FontBold;
  z-index: 1000;
  width: 100%;
  transition: all 0.2s;
  filter: saturate(4);
  overflow: hidden;
}

.navSticky {
  background-color: #4b4b4a;
  @include blockstyle;
  -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
  border-radius: 0%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  @include FontBold;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: all 0.2s;
}
.image {
  width: 100%;
  height: 100%;
}

.abovefact {
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: $darkmainBGcolor;
}

.fact {
  @include blockstyle;
  @include FontNormal;
  padding: 1rem;
  margin: 0px;
  background-color: $darksecColorpurple;
}
.showIcon {
  @include blockstyleSmall;
  margin: 0.2rem;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s;
  }
}
footer {
  @include blockstyle();
  margin: 0rem;
  border-radius: 0px;
  background-color: $mainBGcolor;
  -webkit-box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 1);
  @include FontNormal();
  color: $mainBGcolor;
  background-color: $theBlack;
}
.offcanvas-body {
  @include FontNormal;
  background-color: $darksecBGcolor;
  color: $theBlack;
}

.hate {
  padding-left: 1rem;
}

.offcanvas-header {
  color: $theBlack;
  background-color: $darksecColorgreen;
}

.Bigtext {
  @include FontBold;
}

.modal-body {
  @include blockstyleSmall;
  margin-bottom: 0;
  background-color: $secBGcolor;
}
.modal-content {
  @include blockstyle;
  -webkit-box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 1);
  background-color: $secColoryellow;
  margin: 0;
  padding: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0;
  @include FontNormal;
}

.modal-title {
  @include FontBold;
}

.modalButtons {
  @include blockstyleSmall;
  margin: 0.2rem;

  color: black;
  padding-left: 1rem;
  padding-right: 1rem;

  font-weight: bold;
}

.modal-header {
  height: 1rem;
  padding: 1.5rem;
  background-color: $secColoryellow;
  border: 0;
}

.modal-footer {
  align-items: center;
  flex-direction: row;
  float: left;
  background-color: $secColoryellow;
  border: 0;
}

.loginButtons {
  @include blockstyleSmall;
}
.themeIcon {
  margin-left: 1rem;
  padding-top: 0.5rem;
  font-size: 2.5rem;
}

#darkIcon {
  filter: invert(100);
}
#favorite {
  background-color: $secColorpurple;
}
#ok {
  background-color: $secColorgreen;
}
