#spinner {
  color: red;
  border: 1px, solid, black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card {
  width: 303px;
  display: inline-block;
  animation-name: spin;
  animation-duration: 4s;
}
#Card0 {
  border: 0;
  padding: 0;
  height: 100;
  width: 0;
  opacity: 0;
}

.card-title {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@keyframes spin {
  0% {
    height: 100px;
    width: 100px;
    opacity: 100%;
    left: 0px;
    top: 0px;
  }
  100% {
    left: 400px;
    top: 0px;
  }
}
