#spinner {
  color: rgb(189, 34, 38);
  border: 1px, solid, black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card {
  width: 303px;
  display: inline-block;
  animation-name: spin;
  animation-duration: 4s;
}
#Card0 {
  border: 0;
  padding: 0;
  height: 100;
  width: 0;
  opacity: 0;
}
.card-title {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@keyframes spin {
  0% {
    height: 100px;
    width: 100px;
    opacity: 100%;
    left: 0px;
    top: 0px;
  }
  100% {
    left: 400px;
    top: 0px;
  }
}
.table-container {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.custom-dark-table {
  border-radius: 8px;
  overflow: hidden;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.custom-dark-table thead {
  background-color: #333;
  color: #ffffff;
}

.custom-dark-table thead th {
  padding: 12px;
  font-size: 16px;
}

.custom-dark-table tbody tr {
  transition: background 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.LoginPage {
  height: 94vh;
  background: url("/kasyno.jpg") no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.center-margin {
  margin-top: 100px;
}

.modal-header {
  background-color: #7a7676;
}

.modal-footer {
  background-color: #7a7676;
}

.offcanvas-body {
  background-color: #333333;
  color: white;
}

.offcanvas-header {
  color: white;
  background-color: rgb(189, 34, 38);
}

h1 {
  text-align: center;
}

@font-face {
  font-family: ultra;
  src: url(../../public/Casino.otf);
}

.ultra {
  font-family: ultra;
  font-size: 25px;
}

.nav {
  background-color: rgb(189, 34, 38);
  font-family: ultra;
}

.image {
  width: 100%;
  height: 100%;
}

.fact {
  color: white;
  margin: 30px;
  border: 5px solid black;
  border-radius: 15px;
}

h3 {
  text-align: center;
}
