@mixin FontNormal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin FontBold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
//$mainBGcolor: #1ABC9C;

//first color palette

$mainBGcolor: #ffe3cc;
$secBGcolor: #f9f5f2;
$theBlack: rgba(0, 0, 0, 1);
$secColorblue: #88ceeb;
$secColorgreen: #91ed91;
$secColoryellow: #f4d839;
$secColorred: #ff7a5c;
$secColorpurple: #a488ef;

@mixin blockstyle {
  border: 3px $theBlack solid;
  -webkit-box-shadow: 8px 8px 1px -2px rgba(0, 0, 0, 0.745);
  -moz-box-shadow: 8px 8px 1px -2px rgba(0, 0, 0, 0.745);
  box-shadow: 8px 8px 1px -2px rgba(0, 0, 0, 0.745);
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

@mixin blockstyleSmall {
  border: 2px $theBlack solid;
  -webkit-box-shadow: 4px 4px 1px -1px rgba(0, 0, 0, 0.745);
  -moz-box-shadow: 4px 4px 1px -1px rgba(0, 0, 0, 0.745);
  box-shadow: 4px 4px 1px -1px rgba(0, 0, 0, 0.745);
  margin: 0.5rem;
  border-radius: 5px;
}

body {
  background-color: $secBGcolor;
}
.THEwebsite {
  background-color: $secBGcolor;
  @include FontNormal();
  min-height: 42.3rem;
}
.button:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  transition: all 0.4s;
}
.btn {
  margin: 1rem;
}
.btn:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  transition: all 0.4s;
  --bs-btn-hover-border-color: black;
}
